@charset "UTF-8";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

header{
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}


.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

.navbar-custom {
    background-image: linear-gradient(to bottom, #c9cebd 0%, #ffffff 100%);
}

.navbar-2custom {
    background-image: linear-gradient(to bottom, #F7F7FF 0%, #ffffff 100%);
}

.navbar-custom .navbar-nav .nav-link {
    color: black !important;
}

.navbar-2custom .navbar-nav .nav-link {
    color: black !important; 
} 

.navbar-custom .navbar-brand {
    color: black !important;

}

.navbar-custom .nav-item:hover .nav-link {
    color: #990000 !important;
}

.navbar-2custom .nav-item:hover .nav-link {
    color: #255F85 !important;
}

.navbar-custom .nav-item .nav-link.disabled {
    color: gray !important;
}

.navbar-2custom .nav-link.disabled {
    color: gray !important;
}

.navbar-custom .nav-item .nav-link.active {
    color: #990000 !important;
}

.navbar-2custom .nav-item .nav-link.active {
    color: #255F85 !important;
}

header .highlight, header .current a{
  color: #990000;

/*  font-weight: bold;
*/}


header .highlight2, header .current2 a{
  color: #255F85;
  font-size:  32px;
/*  font-weight: bold;
*/}

.navbar-brand{
  font-size: 40px !important;
}

.navbar-2custom .navbar-brand{
  font-size: 40px !important;
  color:  black;
}

h1, h2, h3, h4, h5, p{
  /*font-family: 'Yanone Kaffeesatz', sans-serif; Helvetica, sans-serif;*/
  padding: 0;
  margin:0;
}



.row{
  padding-top: 10px;
  padding: 10px 40px;
  font-family: 'Noto Sans', sans-serif;
  color: black !important;
/*  display: flex; 
  align-items: center;*/
}

.link-danger {
  color: #255F85 !important;
  text-decoration: none !important;
}

.link-dark {
  color:  #5b5b5b !important;
  text-decoration: none !important;
}

a:hover {
  color: #990000;
  text-style: bold;
}

h4{
  font-family: 'Noto Sans', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
}

h6{
  font-family: 'Noto Sans', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 40px;
}

/*.homepage {
  font-size: 22px;
}*/


.indent{
  margin-left: 30px;
}


ul{
  margin: 0;
  padding: 0;
}

.spacer {
  height: 5vh;
}



@media(max-width: 900px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
  #showcase h1{
    margin-top: 40px;
  }
}

.btn-outline-danger{
  color:black !important;
    font-weight: 500 !important;
 /*     text-decoration: underline !important;*/
  border: gray !important;
  text-align: center !important;
  font-size: 25px !important;
  padding-left, padding-right: 0 !important;
  margin-left, margin-right: 0 !important
}


.btn-outline-warning{
  color:gray !important;
  border: gray !important;
  text-align: left !important;
  font-size: 25px !important;
  padding-left, padding-right: 0 !important;
  margin-left, margin-right: 0 !important
}

.btn-outline-danger:hover {
  /*background-color: rgba(153, 0, 0, 0.8) !important;*/
  background-color: white !important;   
  color: #990000 !important;
}

.btn-outline-warning:hover {
  background-color: white !important; 
  color: #990000 !important;
}

.btn-outline-warning:visited {
  background-color: black !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus{
  outline: none !important;
  box-shadow: none !important;
}



